<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" href="\css\show.css">
</head>
<body>
    <h1><%= product.name  %></h1>
    <ul>
        <li>Price: <span>&#8377;</span><%=product.price  %></li>
        <li id="category-listItem">Category: <a href="/products?category=<%=product.category  %>"><%=product.category  %></a></li>
    </ul>
    <a href="/products">All Products</a>
    <a id="edit-link" href="/products/<%=product._id  %>/edit">Edit Products</a>
    <form id="delete-button" action="/products/<%=product._id  %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
</body>
</html>
